<section class="page-body profile-body">
  <div class="container">
    <div class="flex-containers space-between page-heading-action">
      <div class="flex-item">
        <h4 class="name">Deals</h4>
      </div>
      <div class="flex-item right-text">
        <p class="info-msg" *ngIf="!this.user.phonenoVerified && !this.user.emailVerified">Please verify your phone number or email to create the delas.</p>
        <button mat-stroked-button class="secondary-btn" (click)="showCreateEditDeals()" [disabled]="!this.user.phonenoVerified && !this.user.emailVerified">Create Deal</button>
      </div>
    </div>
    <div class="deals-wrapper personal-details">
      <mat-tab-group (selectedTabChange)="tabChange($event)">  
        <mat-tab label="My Deals">
          <div class="deals-card-wrapper">
            <app-progress-bar [message]="loadingMsg" class="page" *ngIf="isLoading"></app-progress-bar>

            <mat-card *ngFor="let deals of dealsList; index as i" class="border no-rounded">
              <div class="list flex-containers flex-start">
                <div class="list-item-5 no-margin">
                  <div class="deals-image-wrapper">
                    <h4 *ngIf="!deals.path" class="icon-image">
                      <mat-icon>image</mat-icon>
                    </h4>
                    <h4 *ngIf="deals.path && (deals.path | fileformat) === 'docs'" class="icon-image">
                      <a href="{{appConfig.imgBaseUrl}}{{deals.path}}" target="_blank">
                        <mat-icon>picture_as_pdf</mat-icon>
                      </a>
                    </h4>
                    <div *ngIf="deals.path && (deals.path | fileformat) === 'images'" class="img-preview">
                      <a href="{{appConfig.imgBaseUrl}}{{deals.path}}" target="_blank">
                        <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + deals.path + ')'}"></div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="list-item-1 no-margin">
                  <div class="list no-margin">
                    <h4>
                      {{deals.name}} 
                      <span class="status {{deals.status.toLowerCase()}}">
                        <mat-icon *ngIf="deals.status === 'Closed'">check</mat-icon>
                        {{deals.status}}
                      </span>
                      <span class="status {{deals.active ? 'active' : 'deactive'}}" *ngIf="deals.status !== 'Closed'">{{deals.active ? 'Active' : 'Deactive'}}</span>
                    </h4>
                    <p>{{deals.description}}</p>
                    <div class="list flex-containers flex-start">
                      <div class="list-item-4 no-margin">
                        <label class="label">Created On</label>
                        <h4>{{deals.createdAt | date:'mediumDate'}}</h4>
                      </div>
                      <div class="list-item-4 no-margin">
                        <label class="label">Due On</label>
                        <h4>{{deals.due_date | date:'mediumDate'}}</h4>
                      </div>
                      <div class="list-item-4 no-margin">
                        <label class="label">Location</label>
                        <h4>{{deals.location}}</h4>
                      </div>
                      <div class="list-item-4 no-margin">
                        <label class="label">Assiged To</label>
                        <h4><a routerLink="/auth/professional" [queryParams]="{id: deals.assigned_userId}">{{deals.assignedto}}</a></h4>
                      </div>
                    </div>
                    <div class="list flex-containers flex-start">
                      <div class="list-item-4 no-margin">
                        <label class="label">Amount</label>
                        <h4>₹ {{deals.amount}}</h4>
                      </div>
                      <div class="list-item-4 no-margin">
                        <label class="label">Amount Paid</label>
                        <h4>₹ {{deals.amountpaid ? deals.amountpaid : 0}}</h4>
                      </div>
                      <div class="list-item-4 no-margin">
                        <label class="label">Ratting to me</label>
                        <star-rating [value]="deals.assignerating ? deals.assignerating : 0" totalstars="5" checkedcolor="#b00000" uncheckedcolor="#ccc" size="18px" readonly="true"></star-rating>
                      </div>
                      <div class="list-item-4 no-margin">
                        <label class="label">Ratting to Proffession</label>
                        <star-rating [value]="deals.ownerrating ? deals.ownerrating : 0" totalstars="5" checkedcolor="#b00000" uncheckedcolor="#ccc" size="18px" readonly="true"></star-rating>
                      </div>
                    </div>
                    <div class="btn-wrapper">
                      <!-- Status - NEW -->
                      <span *ngIf="deals.status === 'New'">
                        <button 
                          mat-stroked-button class="secondary-btn"
                          *ngIf="deals.active" 
                          routerLink="/auth/search" [queryParams]="{option: 'profession', q: '', location: '', dealId: ''}">
                          Assign
                        </button>
                        <button mat-stroked-button class="secondary-btn" *ngIf="!deals.showReqestors && deals.isRequested" (click)="showHideRequestors(deals, true)">
                          Show Requestors
                          <mat-icon class="suffix">keyboard_arrow_down</mat-icon>
                        </button>
                        <button mat-stroked-button class="secondary-btn" *ngIf="deals.showReqestors && deals.isRequested" (click)="showHideRequestors(deals, false)">
                          Hide Requestors
                          <mat-icon class="suffix">keyboard_arrow_up</mat-icon>
                        </button>                    
                        <button mat-stroked-button class="secondary-btn" (click)="showCreateEditDeals(deals)">Edit</button>
                        <button mat-stroked-button class="secondary-btn" *ngIf="deals.active" (click)="activeDeactiveUserDeals(deals, false, i)">Deactivate</button>
                        <button mat-stroked-button class="secondary-btn" *ngIf="!deals.active" (click)="activeDeactiveUserDeals(deals, true, i)">Activate</button>
                        <button mat-stroked-button class="secondary-btn" (click)="deleteDeals(deals, i)">Delete</button>
                      </span>

                      <!-- Status - Rejected -->
                      <span *ngIf="deals.status === 'Rejected'">
                        <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'New')">Accept Rejection</button>
                      </span>

                      <!-- Status - Completed -->
                      <span *ngIf="deals.status === 'Completed'">
                        <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'Closed')">Close</button>
                        <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'New')">Not Satisfactory</button>
                      </span>

                      <!-- History -->
                      <button mat-stroked-button class="secondary-btn" *ngIf="!deals.showHistory" (click)="showHideHistory(deals, true)">
                        Show Hisotry
                        <mat-icon class="suffix">keyboard_arrow_down</mat-icon>
                      </button>
                      <button mat-stroked-button class="secondary-btn" *ngIf="deals.showHistory" (click)="showHideHistory(deals, false)">
                        Hide Hisotry
                        <mat-icon class="suffix">keyboard_arrow_up</mat-icon>
                      </button>
                    
                    </div>

                    <!-- Status Comment -->
                    <div class="list comment" *ngIf="deals.showComment">
                      <form class="deal-requst-form">
                        <mat-form-field appearance="outline">
                          <mat-label>Leave a comment</mat-label>
                          <textarea matInput placeholder="Ex. Assign, Close comments" [(ngModel)]="deals.comment" name="comment"></textarea>
                        </mat-form-field>
                        <div class="list-item-2 no-margin">
                          <app-image-cropper 
                            [imageType]="'Deals'"
                            [fileTypes]="'application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*'"
                            [imagePath]="deals.status_path ? deals.status_path : ''"
                            (uploadCompleted)="onUploadCompleted($event, deals)">
                          </app-image-cropper>
                        </div>
                        <div class="list-item-2 no-margin">
                          <mat-form-field appearance="outline">
                            <mat-label>Amount Paid</mat-label>
                            <input matInput type="number" placeholder="1000" [(ngModel)]="deals.amountpaid" name="amountpaid" autocomplete="off"/>
                          </mat-form-field>
                        </div>
                        <div class="ratting-wrapper" *ngIf="deals.showRating">
                          <mat-label>Ratting to Profession</mat-label>
                          <star-rating value="0" totalstars="5" checkedcolor="#b00000" uncheckedcolor="#ccc" size="18px" readonly="false" (rate)="onRatting($event, deals, 'ownerrating')"></star-rating>
                        </div>
                        <div class="btn-main-right-wrapper">
                          <button mat-stroked-button class="secondary-btn small" (click)="showHideStatusComment(deals, false)">Cancel</button>
                          <button mat-stroked-button class="primary-btn small" (click)="onUpdateDealsStatus(deals)" [disabled]="!deals.comment">Update</button>
                        </div>
                      </form>
                    </div>
                  </div>

                  <!-- Request Accept with comment -->
                  <div class="list no-margin req-wrapper" *ngIf="deals.requestors && deals.showReqestors">
                    <mat-card class="list-item-1 list with-border" *ngFor="let reqestors of deals.requestors">
                      <h5><a routerLink="/auth/professional" [queryParams]="{id: reqestors.user_id}">{{reqestors.username}}</a> | {{reqestors.phoneno}} | {{reqestors.email}}</h5>
                      <h5>{{reqestors.req_description}}</h5>

                      <div class="abs-btn-wrapper">
                        <button mat-stroked-button class="secondary-btn small" (click)="showHideStatusComment(reqestors, true)" *ngIf="!reqestors.showComment">Accept Request</button>
                      </div>
                      <div class="list comment" *ngIf="reqestors.showComment">
                        <form class="deal-requst-form">
                          <mat-form-field appearance="outline">
                            <mat-label>Leave a comment</mat-label>
                            <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="reqestors.comment" name="comment"></textarea>
                          </mat-form-field>
                          <div class="btn-main-right-wrapper">
                            <button mat-stroked-button class="secondary-btn small" (click)="showHideStatusComment(reqestors, false)">Cancel</button>
                            <button mat-stroked-button class="primary-btn small" (click)="onAcceptDealsRequest(reqestors, deals)" [disabled]="!reqestors.comment">Assign</button>
                          </div>
                        </form>
                      </div>

                    </mat-card>
                    <mat-card *ngIf="!deals.requestors.length" class="not-found-msg with-border">
                      <h5>No requestors found.</h5>
                    </mat-card>
                  </div>

                  <!-- History -->
                  <div class="list no-margin req-wrapper" *ngIf="deals.history && deals.showHistory">
                    <mat-card class="list-item-1 list with-border" *ngFor="let history of deals.history">
                      <h5>
                        {{history.createdAt | date:'mediumDate'}}
                        <span class="status {{history.status.toLowerCase()}}">
                          {{history.status}}
                        </span>
                      </h5>
                      <h5>{{history.description}}</h5>
                      <div class="deals-image-wrapper small">
                        <!-- <h4 *ngIf="!history.path" class="icon-image"><mat-icon>image</mat-icon></h4> -->
                        <h4 *ngIf="history.path && (history.path | fileformat) === 'docs'" class="icon-image">
                          <a href="{{appConfig.imgBaseUrl}}{{history.path}}" target="_blank">
                            <mat-icon>picture_as_pdf</mat-icon>
                          </a>
                        </h4>
                        <div *ngIf="history.path && (history.path | fileformat) === 'images'" class="img-preview">
                          <a href="{{appConfig.imgBaseUrl}}{{history.path}}" target="_blank">
                            <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + history.path + ')'}"></div>
                          </a>
                        </div>
                      </div>
                    </mat-card>
                    <mat-card *ngIf="!deals.history.length" class="not-found-msg with-border">
                      <h5>No history found.</h5>
                    </mat-card>
                  </div>
                  
                </div>
              </div>
            </mat-card>
          </div>
        </mat-tab>

        <!-- Assigned to me -->
        <mat-tab label="Assigned to me">
          <div class="deals-card-wrapper">
            <app-progress-bar [message]="loadingMsg" class="page" *ngIf="isLoading"></app-progress-bar>
            <mat-card *ngFor="let deals of dealsList; index as i" class="border no-rounded">
              <div class="list flex-containers flex-start">
                <div class="list-item-5 no-margin">
                  <div class="deals-image-wrapper">
                    <h4 *ngIf="!deals.path" class="icon-image"><mat-icon>image</mat-icon></h4>
                    <h4 *ngIf="deals.path && (deals.path | fileformat) === 'docs'" class="icon-image">
                      <a href="{{appConfig.imgBaseUrl}}{{deals.path}}" target="_blank">
                        <mat-icon>picture_as_pdf</mat-icon>
                      </a>
                    </h4>
                    <div *ngIf="deals.path && (deals.path | fileformat) === 'images'" class="img-preview">
                      <a href="{{appConfig.imgBaseUrl}}{{deals.path}}" target="_blank">
                        <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + deals.path + ')'}"></div>
                      </a>
                    </div>
                  </div>
                </div>              
                <div class="list-item-1 no-margin">
                  <h4>
                    {{deals.name}} 
                    <span class="status {{deals.status.toLowerCase()}}">
                      <mat-icon *ngIf="deals.status === 'Closed'">check</mat-icon>
                      {{deals.status}}
                    </span>
                    <span class="status {{deals.active ? 'active' : 'deactive'}}">{{deals.active ? 'Active' : 'Deactive'}}</span>
                  </h4>
                  <p>{{deals.description}}</p>
                  <div class="list flex-containers flex-start">
                    <div class="list-item-4 no-margin">
                      <label class="label">Created On</label>
                      <h4>{{deals.createdAt | date:'mediumDate'}}</h4>
                    </div>
                    <div class="list-item-4 no-margin">
                      <label class="label">Due On</label>
                      <h4>{{deals.due_date | date:'mediumDate'}}</h4>
                    </div>
                    <div class="list-item-4 no-margin">
                      <label class="label">Location</label>
                      <h4>{{deals.location}}</h4>
                    </div>
                    <div class="list-item-4 no-margin">
                      <label class="label">Assiged By</label>
                      <h4><a routerLink="/auth/professional" [queryParams]="{id: deals.assigned_userId}">{{deals.assignedto}}</a></h4>
                    </div>
                  </div>
                  <div class="list flex-containers flex-start">
                    <div class="list-item-4 no-margin">
                      <label class="label">Amount</label>
                      <h4>₹ {{deals.amount}}</h4>
                    </div>
                    <div class="list-item-4 no-margin">
                      <label class="label">Amount Paid</label>
                      <h4>₹ {{deals.amountpaid ? deals.amountpaid : 0}}</h4>
                    </div>
                    <div class="list-item-4 no-margin">
                      <label class="label">Ratting to me</label>
                      <star-rating [value]="deals.ownerrating ? deals.ownerrating : 0" totalstars="5" checkedcolor="#b00000" uncheckedcolor="#ccc" size="18px" readonly="true"></star-rating>
                    </div>
                    <div class="list-item-4 no-margin">
                      <label class="label">Ratting to Owner</label>
                      <star-rating [value]="deals.assignerating ? deals.assignerating : 0" totalstars="5" checkedcolor="#b00000" uncheckedcolor="#ccc" size="18px" readonly="true"></star-rating>
                    </div>
                  </div>                
                  <div class="btn-wrapper" *ngIf="!deals.showComment">

                    <!-- Status - Accepted -->
                    <span *ngIf="deals.status === 'Assigned'">
                      <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'Accepted')">Accept</button>
                      <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'Rejected')">Reject</button>
                    </span>
                    
                    <!-- Status - Accepted -->
                    <span *ngIf="deals.status === 'Accepted'">
                      <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'Inprogress')">In Progress</button>
                      <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'Rejected')">Reject</button>
                    </span>

                    <!-- Status - Inprogress -->
                    <span *ngIf="deals.status === 'Inprogress'">
                      <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'Completed');">Completed</button>
                      <button mat-stroked-button class="secondary-btn" (click)="showHideStatusComment(deals, true, 'Rejected')">Reject</button>
                    </span>

                    <!-- History -->
                    <button mat-stroked-button class="secondary-btn" *ngIf="!deals.showHistory" (click)="showHideHistory(deals, true)">
                      Show Hisotry
                      <mat-icon class="suffix">keyboard_arrow_down</mat-icon>
                    </button>
                    <button mat-stroked-button class="secondary-btn" *ngIf="deals.showHistory" (click)="showHideHistory(deals, false)">
                      Hide Hisotry
                      <mat-icon class="suffix">keyboard_arrow_up</mat-icon>
                    </button>

                  </div>

                  <!-- Status Comment -->
                  <div class="list comment" *ngIf="deals.showComment">
                    <form class="deal-requst-form">
                      <mat-form-field appearance="outline">
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput placeholder="Ex. Acception, Inprogress, Completion, Rejection comments" [(ngModel)]="deals.comment" name="comment"></textarea>
                      </mat-form-field>
                      <div class="list-item-2 no-margin">
                        <app-image-cropper 
                          [imageType]="'Deals'"
                          [fileTypes]="'application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*'"
                          [imagePath]="deals.status_path ? deals.status_path : ''"
                          (uploadCompleted)="onUploadCompleted($event, deals)">
                        </app-image-cropper>
                      </div>
                      <div class="ratting-wrapper" *ngIf="deals.showRating">
                        <mat-label>Ratting to Owner</mat-label>
                        <star-rating value="0" totalstars="5" checkedcolor="#b00000" uncheckedcolor="#ccc" size="18px" readonly="false" (rate)="onRatting($event, deals, 'assignerating')"></star-rating>
                      </div>

                      <div class="btn-main-right-wrapper">
                        <button mat-stroked-button class="secondary-btn small" (click)="showHideStatusComment(deals, false)">Cancel</button>
                        <button mat-stroked-button class="primary-btn small" (click)="onUpdateDealsStatus(deals)" [disabled]="!deals.comment">Update</button>
                      </div>
                    </form>
                  </div>

                  <!-- History -->
                  <div class="list no-margin req-wrapper" *ngIf="deals.history && deals.showHistory">
                    <mat-card class="list-item-1 list with-border" *ngFor="let history of deals.history">
                      <h5>
                        {{history.createdAt | date:'mediumDate'}}
                        <span class="status {{history.status.toLowerCase()}}">
                          {{history.status}}
                        </span>
                      </h5>
                      <h5>{{history.description}}</h5>
                      <div class="deals-image-wrapper small">
                        <!-- <h4 *ngIf="!history.path" class="icon-image"><mat-icon>image</mat-icon></h4> -->
                        <h4 *ngIf="history.path && (history.path | fileformat) === 'docs'" class="icon-image">
                          <a href="{{appConfig.imgBaseUrl}}{{history.path}}" target="_blank">
                            <mat-icon>picture_as_pdf</mat-icon>
                          </a>
                        </h4>
                        <div *ngIf="history.path && (history.path | fileformat) === 'images'" class="img-preview">
                          <a href="{{appConfig.imgBaseUrl}}{{history.path}}" target="_blank">
                            <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + history.path + ')'}"></div>
                          </a>
                        </div>
                      </div>
                    </mat-card>
                    <mat-card *ngIf="!deals.history.length" class="not-found-msg with-border">
                      <h5>No history found.</h5>
                    </mat-card>
                  </div>
                  
                </div>
              </div>
            </mat-card>            
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    

  </div>
</section>
