
<div class="signup-wrapper flex-containers center">
  <h1 class="page-title">
    A right destination for <br/>professionals. Moneyism.
  </h1>
  <mat-card class="login-card">
    <div class="logo-wrapper">
      <img class="logo" src="./../assets/images/logo.png" alt="Moneyism">
    </div>
    <div mat-dialog-content>
      <mat-error class="box-error-msg" *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
      <div class="mat-error custom-mat-error" *ngIf="isConfirmPasswordError">
        Passsword and Confirm Password didn't match.
      </div>

      <div class="signup-form-wrapper" [hidden]="isOtpScreen">
          <!-- <div class="social-btn-wrapper">
            <button mat-flat-button color="primary" class="google-btn" (click)="signInWithGoogle()">
              <i class="fa fa-google"></i>
              Sign up with Google
            </button>
    
            <button mat-flat-button color="primary" class="facebook-btn" (click)="signInWithFB()">
              <i class="fa fa-facebook"></i>
              Sign up with Facebook</button>
          </div> -->
        <div class="signup-form">
          <form [formGroup]="signupForm" class="custom-login-wrapper">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <mat-form-field class="full-width" appearance="standard">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Username" cdkFocusInitial formControlName="username">
                  <mat-error>
                    Please provide a valid username.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <mat-form-field class="full-width" appearance="standard">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" placeholder="Password" formControlName="password" (keyup)="isConfirmPasswordError=false">
                  <mat-error>
                    Please provide a valid password.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <mat-form-field class="full-width" appearance="standard">
                  <mat-label>Confirm password</mat-label>
                  <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password" (change)="isConfirmPasswordError=false">
                  <mat-error>
                    Please provide a valid confirm password.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <mat-form-field class="full-width" appearance="standard">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error>
                    Please provide a valid Email.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <mat-form-field class="full-width" appearance="standard">
                  <mat-label>Phone number</mat-label>
                  <input matInput placeholder="Phone number" formControlName="phoneno">
                  <mat-error>
                    Please provide a valid Phone number.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <mat-form-field class="full-width" appearance="standard">
                  <mat-label>Full name</mat-label>
                  <input matInput placeholder="Full name" formControlName="fullname">
                  <mat-error>
                    Please provide a valid Full name.
                  </mat-error>
                </mat-form-field>
              </div>
              
            </div>

            <div class="btn-wrapper-text">
              <p>
                By clicking Agree & Join, you agree to the Moneyism 
                <a routerLink="">User Agreement</a>, 
                <a routerLink="">Privacy Policy</a>, and <a routerLink="">Cookie Policy</a>.
              </p>
              <div class="login-btn-wrpper">
                <button mat-raised-button color="primary" (click)="doSignup()" class="login-primary-btn" [disabled]="isLoading" [class.loading]="isLoading">
                  Agree & Join
                </button>
              </div>
            </div>
            <div class="account-btn-wrpper" style="text-align: center;">
              Already on Moneyism? <a routerLink="/login">Sign in</a>
            </div>
          </form>
        </div>
      </div>

      <div class="otp-wrpper page-body" [hidden]="!isOtpScreen">
        <app-progress-bar [message]="loaderMsg" class="page component" *ngIf="isLoading"></app-progress-bar>
        <!-- <p><b>Your Moneyism account has been created successfully. Please verify your mobile number to get the deals and other notifications.</b><br/><br/></p> -->
        <p>The OTP has been Sent to your phone. Please input the OTP before 5 minutes.</p>
        <form [formGroup]="otpForm" class="custom-login-wrapper" style="margin-top: 24px; font-size: 12px;">
          <mat-form-field  appearance="outline">
            <mat-label>One Time Password</mat-label>
            <input matInput placeholder="One Time Password" cdkFocusInitial formControlName="otpnum" autocomplete="off">
          </mat-form-field>
          <div class="login-btn-wrpper">
            <button mat-raised-button color="primary" class="login-primary-btn" (click)="validateOtp()" [disabled]="isLoading" [class.loading]="isLoading">
              Verify and Sign in
            </button>
          </div>
          <div class="login-btn-wrpper">
            <button mat-button color="primary" (click)="generateOtp()" [disabled]="isLoading" [class.loading]="isLoading">
              Resend OTP?
            </button>
          </div>
          <div class="login-btn-wrpper">
            <button mat-button color="primary" (click)="verifyOTPLater()" [disabled]="isLoading" [class.loading]="isLoading">
              Verify Later
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>



