<section class="page-body my-community-body">
  <div class="container">
    <div class="flex-containers space-between page-heading-action">
      <div class="flex-item">
        <h4 class="name">Community Details</h4>
      </div>
      <!-- <div class="btn-main-right-wrapper" *ngIf="isCurrentUser">
        <button mat-stroked-button class="secondary-btn" routerLink="/auth/professional/update">Edit</button>
      </div> -->
    </div>
    <div class="row">
      <app-progress-bar message="Loading professional details..." class="page" *ngIf="isLoading"></app-progress-bar>

      <div class="col-xs-12 col-sm-4 col-md-4 ">
        <app-account-details></app-account-details>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-8">
        <mat-card class="border no-rounded list">
          <div class="flex-containers wrap">
            <div class="flex-item no-margin">
              <div class="user-profile-img">
                <div class="profile-pic-small pic-xs img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + '/assets/images/logo.png' + ')'}"></div>
              </div>
            </div>
            <div class="flex-item no-margin">
              <p class="name">Vijayakumar N</p>
              <label class="label">Tech Lead, Aveva, Bangalore</label>
              <label class="label">Date and time / Hours ago, 2 Days</label>
            </div>
          </div>
          <h4>Title</h4>
          <p>Message sampel...</p>
          <div class="img-wrapper">
            <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + '/assets/images/logo.png' + ')'}"></div>
          </div>
          <div class="likes-wrapper flex-containers wrap v-center">
            <div class="likes-icon flex-item">
              <mat-icon>thumb_up</mat-icon>
            </div>
            <div class="likes-count flex-item">
              12,234
            </div>
          </div>
        </mat-card>

        <mat-card class="border no-rounded list">
          <div class="flex-containers wrap">
            <div class="flex-item no-margin">
              <div class="user-profile-img">
                <div class="profile-pic-small pic-xs img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + '/assets/images/logo.png' + ')'}"></div>
              </div>
            </div>
            <div class="flex-item no-margin">
              <p class="name">Vijayakumar N</p>
              <label class="label">Tech Lead, Aveva, Bangalore</label>
              <label class="label">Date and time / Hours ago, 2 Days</label>
            </div>
          </div>
          <h4>Title</h4>
          <p>Message sampel...</p>
          <div class="img-wrapper">
            <div class="img" [ngStyle]="{'background-image': 'url(' + appConfig.imgBaseUrl + '/assets/images/logo.png' + ')'}"></div>
          </div>
          <div class="likes-wrapper liked flex-containers wrap v-center">
            <div class="likes-icon flex-item">
              <mat-icon>thumb_up</mat-icon>
            </div>
            <div class="likes-count flex-item">
              12,234
            </div>
          </div>
        </mat-card>

      </div>
    </div>
    

  </div>
</section>
