<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Disclaimer</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Disclaimer</span></li>
      </ul>
    </div>
    <mat-card style="padding: 42px;">
      <div class="page-bd">
        <h3 style="margin-bottom: 24px;">Disclaimer:</h3>
        <ul>
          <li>
            As a user, you are responsible for securely keeping your username and password for moneyism.com. You are solely liable and responsible for all the activities that happen using your user credentials. In case we suspect improper or inconsistent information is posted using your user credentials, we reserve the right to investigate and if necessary, block or delete your access from moneyism.com 
          </li>
          <li>
            Users are responsible for copyright issues if they are posting information from other users or from other websites.
          </li>
          <li>
            Users click the links of fundraisers and visit those websites on their own risk. moneyism is not responsible or liable (directly or indirectly) for any damages caused by the use of those websites.
          </li>
          <li>
            Information such as fundraisers, updates, comments, likes, pictures, videos, suggestions, feedback that are posted on the website or sent to moneyism.com by email or post is and will be treated as con-confidential and non-proprietary information.  moneyism reserves the right to delete any of the above mentioned information if it deemed not fit for the purpose at its own discretion. 
          </li>
        </ul>
      </div>
    </mat-card>
  </div>
</section>