<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Privacy</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Privacy</span></li>
      </ul>
    </div>

    <mat-card style="padding: 42px;">
      <h3 style="margin-bottom: 24px;">Privacy Policy</h3>
      <p class="desc">
        We at moneyism.com respect your privacy and strive to protect your personal information. We ensure that the personal information that is collected from you is used only for the intended purpose of raising funds.
      </p>
      <p class="desc">
        We collect personal information such as Name, Address, Bank Account details, Location, Pictures, Videos, Cookies from our fundraiser organizers, donors, users and supporters either directly when they enter the data in the website, or via email / phone calls or indirectly via passive or automated collections.
      </p>
      <p class="desc">
        We may aggregate information to provide macro information. For example: Total fund raised via moneyism.com. Your information will be used in the aggregated info but mostly without personal information.
      </p>
      <p class="desc">
        We may use your data to do analytics to improve the services and the user experience
      </p>
      <p class="desc">
        We do not sell or share your personal information with any third parties other than legal and regulatory authorities.
      </p>
      <p class="desc">
        Please note that we only collect the bank account details of the beneficiary (also for anti-money laundering checks). We do not collect bank account or credit/debit card details of the donors. These are collected by our payment providers such as Razorpay to process the transactions. 
      </p>
      <p class="desc">
        If you do not want us to have your personal data that you have uploaded or given to us earlier, you have the right to remove them yourselves or ask us to remove it for you from our systems by writing to info@moneyism.com 
      </p>
      <p class="desc">
        moneyism.com reserves the right to update the privacy policy at any time. The up to date version is the one which is available on our website with the update date.
      </p>
      <p class="desc">
        If you have any queries or need clarification regarding our privacy policy, please feel free to contact us at info@moneyism.com
      </p>

      <h3 style="margin-bottom: 24px;">Cookie Policy</h3>
      <h5>What Are Cookies?</h5>
      <p class="desc">
        Cookies are files or pieces of information that may be stored on your computer (or other internet enabled devices, such as a smartphone or tablet) when you visit our site. A cookie will usually contain the name of the website from which the cookie has come from, the "lifetime" of the cookie (i.e. how long it will remain on your device), and a value, which is usually a randomly generated unique number/email id.
      </p>

      <h5>What do we use cookies for?</h5>
      <p class="desc">
        We use cookies to make the site easier to use and to better tailor the experience to your interests and needs. Cookies may also be used to help speed up your future activities and experience on our site. We also use cookies to compile anonymous, aggregated statistics that allow us to understand how people use our site and to help us improve their structure and content.
      </p>

      <h5>Third Party Cookies</h5>
      <p class="desc">
        In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.
      </p>

      <p class="desc">
        This site uses Google Analytics and Facebook Pixel which are the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.
      </p>
      <p class="desc">
        For more information on Google Analytics cookies, see the official Google Analytics page.
      </p>
      <p class="desc">
        Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. However if you are still looking for more information then you can contact us through one of our preferred contact methods.
      </p>
    </mat-card>
  
  </div>
</section>