<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">Terms and Conditions</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> Terms and Conditions</span></li>
      </ul>
    </div>

    <mat-card style="padding: 42px;">
      <div class="page-bd">
        <h3 style="margin-bottom: 24px;">Terms and Conditions:</h3>
        <h5 style="margin: 24px 0;">Types of Users:</h5>
        <p class="desc">
          In order to use this website, you should be 18 years or older and fir to enter into a legally binding contract. If you are a minor or not-fit for contract, you are not allowed to register, create fundraisers, donate or receive donations yourself. You may do that with the help of your legal guardian or an NGO. If we suspect that the user is a minor or not fit for contract, we have the right to terminate the user.
        </p>
        <p class="desc">
          If you are representing an NGO or other organization, you should be duly authorized by the NGO or organization and you enter into the contract with moneyism on behalf of the NGO or organization
        </p>

        <h5 style="margin: 24px 0;">Fundraiser Organiser:</h5>
        <ul>
          <li>An individual, A private limited company or a registered NGO with valid Indian bank account may choose moneyism.com to raise funds. They are called the “Beneficiery”.
          </li>
          <li>The beneficiary may choose to create a fundraiser himself/herself or may ask someone to help create the fundraiser in moneyism.com. The person who creates the fundraiser is called “Fundraiser Organiser”. 
          </li>
          <li>The campaign organizer is contractually bound to create a fundraiser with accurate and true information. The fundraiser should not be misleading the donors and other users. 
          </li>
          <li>The campaign organizer is liable and responsible for the content of the fundraiser. He/she should ensure that the information presented do not violate the intellectual property, trade secret or public or private rights of third parties or individuals. 
          </li>
          <li>The fundraiser organizer is contractually bound to provide an update to the donors and users of the progress and how the fund is utilized voluntarily at regular intervals and when requested by donors.
          </li>
          <li>The beneficiary is liable to ensure that he/she adheres with the income tax and other laws of India when receiving the money that is raised via moneyism.com.
          </li>
          <li>moneyism reserves the right to remove a fundraiser if it believes that the information presented in the fundraiser is fraudulent or misleading.
          </li>
        </ul>

        <h5 style="margin: 24px 0;">Fundraiser Organiser:</h5>
        <ul>
          <li>A valid user is allowed to make donation(s) to the fundraisers they like to. This user is called Donor.
          </li>
          <li>The Donor agrees to adhere to the terms and conditions when contributing to the fundraisers.
          </li>
          <li>The Donor makes his/her decision to choose the fundraiser(s) to donate money with his/her own due diligence and based on the information provided in the fundraiser. Donor agrees that moneyism cannot be held liable if the information in the fundraiser is not accurate. Once the money is paid to the fundraiser beneficiary, moneyism is not responsible or liable to get the money back if the Donor requests the same.
          </li>
          <li>The Donor can ask the fundraiser organizer for updates or additional information. The fundraiser may or maynot provide the information. moneyism is not responsible for the lack of updates in a fundraiser.
          </li>
          <li>moneyism reserves the right to block or refund a donation if it suspects fraudulent transactions.
          </li>
        </ul>

        <h5 style="margin: 24px 0;">Guests:</h5>
        <p class="desc">
          Guests are those who visit the website and browse through the fundraisers. When guests want to like, share or comment on a fundraiser, they need to register themselves with moneyism. They however can donate without registering. 
        </p>

        <h5 style="margin: 24px 0;">Charges:</h5>
        <ul>
          <li>
            moneyism does not charge the users to browse the websites, to create a fundraiser, to like share or support a fundraiser or to make a donation.
          </li>
          <li>
            The only charges that are applied on the donated amount are the transaction charges by our payment providers such as Razorpay.
          </li>
          <li>
            Beneficieries, Donors and Campaign organisers agree with our pricing policy.
          </li>
          <li>
            moneyism reserves the right to change the pricing policy at any given time. Users agree to use the latest pricing policy that is on the website.
          </li>

        </ul>
      </div>
    </mat-card>
  </div>
</section>