.account-details {
  position: sticky !important;
  top: 100px;
  .account-heading {
    border-bottom: 1px solid #eeeeee;
    .a-title {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      color: rgba(0,0,0,.87);
    }
    .mat-icon-button {
      margin: 0;
      position: relative;
      top: -10px;
      .mat-icon {
        font-size: 18px;
      }
    }
  }
  .verified {
    position: relative;
    top: 6px;
    .mat-icon {
      color: #008200;
    }
  }
}

:host {
  .star {
    position: relative;
    &:after {
      position: absolute;
      width: 9px !important;
      top: 0px;
      left: 15px;
    }
  }
}
     
