.clients-wrp {
  .img-preview {
    display: inline-block;
    vertical-align: middle;
    margin-top: 22px;
  }
}
.service-details {
  .icon-image, .img-preview {
    width: 70px;
    height: 60px;
    text-align: center;
    .mat-icon {
      font-size: 36px;
      padding-top: 12px;
    }
  }
  .list h4 {
    margin-bottom: 0;
  }
}