<section class="common-page-slider">
  <div class="slider-bg">
    <div class="container">
      <h2 class="title">About Us</h2>
    </div>
  </div>
</section>

<section class="gv-common-page-body">
  <div class="container">
    <div class="breadcrumb-wrapper">
      <ul class="breadcrumb">
        <li><a routerLink="/ga/home" title="Home">Home <mat-icon>keyboard_arrow_right</mat-icon></a></li>
        <li><span itemprop="name"> About Us</span></li>
      </ul>
    </div>

    <div>
      <p class="desc">
        All lives on the earth deserve to live a happy and peaceful life. As we know some are blessed a bit more in terms of finance than the others. Money that provides pleasure to one could save a life of the other. moneyism strives to connect those good hearts with less privileged people to make an impact on lives.
      </p>
      <p class="desc">
        moneyism provides a platform where people can raise funds by creating fundraisers, getting support from others and to reach the donors.
      </p>
      <p class="desc">
        The organization is run with the help of volunteers and supporters to ensure that the money donated for a fundraiser is given to the fundraiser with as less charges as possible. 
      </p>
    </div>
  
  </div>
</section>