
<div class="landing-wrapper flex-containers center">
  <h1 class="page-title">
    A right destination for <br/>professionals. Moneyism.
  </h1>
  <mat-card class="landing-card">
    <div class="logo-wrapper">
      <img class="logo" src="./../assets/images/logo.png" alt="Moneyism">
    </div>
    <div class="login-btn-wrpper">
      <button mat-raised-button color="primary" routerLink="/login" class="login-primary-btn">
        Login
      </button>
      <button mat-raised-button color="primary" routerLink="/signup" class="login-primary-btn">
        Signup
      </button>
    </div>

  </mat-card>
</div>



