<section class="page-body profile-body">
  <div class="container">
    <div class="flex-containers space-between">
      <div class="flex-item">
        <h4 class="name">Welcome {{user.firstname}} {{user.surname}}</h4>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="flex-containers list space-between">
        <mat-card class="flex-item border no-margin professional">
          <div class="flex-wrapper">
            <div class="flex-overlay"></div>
            <h4 class="sec-title">Personal</h4>
            <h1 class="strong-title">Platform</h1>
            <label class="label">This platform will facilitate at personal level Organizer such as Name, contact details, personal banking, insurance, medical, legal, educational, Phots, like any many records in a one single place, based on need and requirement person can use this information.</label>
            <button mat-stroked-button class="secondary-btn" routerLink="/auth/personal">View</button>
          </div>
        </mat-card>
        <mat-card class="flex-item border no-margin personal">
          <div class="flex-wrapper">
            <div class="flex-overlay"></div>
            <h4 class="sec-title">Professional</h4>
            <h1 class="strong-title">Platform</h1>
            <label class="label">This platform will accommodate nearly more than 1000+ profession’s and number small business users, in this platform a profession or business entity can maintain highlights of their service and products to generate business leads.</label>
            <button mat-stroked-button class="secondary-btn" routerLink="/auth/professional">View</button>
          </div>
        </mat-card>
        <mat-card class="flex-item border no-margin community">
          <div class="flex-wrapper">
            <div class="flex-overlay"></div>
            <h4 class="sec-title">Community</h4>
            <h1 class="strong-title">Platform</h1>
            <label class="label">Moneyism Community is a community platform to post their business products, flayers, videos, awards and rewards. The community can be selected by using, Aera, Business, Education, Family, Friends and so on.</label>
            <button mat-stroked-button class="secondary-btn" routerLink="/auth/community">View</button>
          </div>
        </mat-card>
      </div>
    </div>

  </div>
</section>
